@tailwind base;
@tailwind components;
@tailwind utilities;
/* Personaliza el CSS para ocultar la barra de desplazamiento en navegadores modernos */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  