@tailwind base;
@tailwind components;
@tailwind utilities;
/* Personaliza el CSS para ocultar la barra de desplazamiento en navegadores modernos */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .accordion-body {
    overflow: visible !important;
    display: flex;
    flex-wrap: wrap;
}

  .skill-circle img {
    max-width: 100%;
    height: auto;
    display: block;
  }
.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.13);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.6px);
-webkit-backdrop-filter: blur(7.6px);
border: 1px solid rgba(255, 255, 255, 0.43);
}
.glasspills{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.6px);
-webkit-backdrop-filter: blur(7.6px);
border: 1px solid rgba(255, 255, 255, 0.43);
color:rgb(255, 255, 255);
}